@CHARSET "ISO-8859-1";
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
#gauche{
	float:left;
}
#droite{
	float:right;
    margin-right:5%
}
footer{
	width:100%
}
img {
	height: 100px;
	display: inline-block;
}
article ul li{
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}
article ol {
	counter-reset: repas;
} /* on initialise et nomme un compteur */
article ol li {
	line-height: 100px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	list-style-type: none;
	counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
	margin-bottom: 10px;
}
article ol li:before {
	content: counter(repas); /* on affiche le compteur */
	padding: 0 20px 6px;
	margin-right: 8px;
	vertical-align: top;
	background: #678;
	-moz-border-radius: 60px;
	border-radius: 60px;
	font-weight: bold;
	font-size: 0.8em;
	color: white;		
}
.descritem{
	display: inline-block;
}
#formdescliste{
	width:50em;
	height: 3em;
}
article input{
	display: block;
}
#suprlist, #modlist{
	float: right;
	height: 95%;
}
#liste_affichee{
	height: 2em;
}
