
@CHARSET "ISO-8859-1";
div.container {
    width: 100%;
}


a:visited {
	color: blue;
}

a:hover {
	color: black;
}

header{
    padding: 1em;
    color: white;
    background-color: #4c586f;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
	margin-top: 2em;
	margin-bottom: 2em;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 1px 1px 12px #555;
    padding: 1em;
    overflow:hidden;
    /*min-height: 100% ;*/
}
#gauche{
	float:left;
}
#droite{
	float:right;
    margin-right:5%
}

img {
	height: 100px;
	display: inline-block;
}
article ul li{
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}


#compteuritem {
	line-height: 100px;
	list-style-type: none;
	padding: 0 20px 6px;
	background: #678;
	-moz-border-radius: 60px;
	border-radius: 60px;
	font-weight: bold;
	font-size: 0.8em;
	color: white;	
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}
article ol li:before {
		
}
.descritem{
	display: inline-block;
}
#formdescliste{
	width:50em;
	height: 3em;
}
article input{
	display: block;
}
#suprlist, #modlist{
	float: right;
	height: 95%;
}
#liste_affichee{
	height: 2em;
}

.se_connecter{
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}

.se_connecter:hover{
	border:none;
	padding:6px 0 6px 0;
	box-shadow:0px 0px 0px;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}

.champ_inscr{
	padding:3px;
 	border:1px solid #F5C5C5;
	border-radius:5px;
	width:200px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
}

.champ_con{
	padding:3px;
 	border:1px solid #2ABB3F;
	border-radius:5px;
	width:200px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
}

html, body {
	height: 100%;
	width : 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	min-height: 100%;
 	margin: 0;
  	padding: 0;
	width: 100%;
	padding-bottom: 5em; 
}

footer{
	display: table-row;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2em;
    color: white;
    background-color: #4c586f;
    text-align: center;
    position:fixed;
    z-index: 5;
}

input[type="button"]{
  height: 50px;
  width: 180px;
  margin-left: -10%;
  font-size: 15px;
  color:#FEFEFE;
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #4c586f;
  transition: 0.5s;
}

input[type="button"]:hover{
  background: #7581a4;
}

.bodyinscr{
	margin-bottom: 0em;
}

* {-moz-box-sizing: border-box; box-sizing: border-box;}

.login-image{
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}

.login-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4c586f;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #3e3e3b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #296365;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
